$bg-menu: #7247ee;
$icon-mode-light: #fff;
$font-color-mode-light: #3a3939;
$font-color-mode-light-100: #2e2e2e;
$font-color-mode-light-menu: #fff;
$bg-mode-light: #f5f5f5;
$input-color: #fff;
$color-icon: #acacaf;
$bg-welcome: #fff;
$font-color-welcome: #d27843;
$font-color-welcome-100: #e7b389;
$bg-select-box: #edeef4;
$bg-device-primary: #7247ee;
// for background
$bg-blue: #3acbe9;
$bg-yellow: #f4c427;
$bg-orange: #ff9060;
// for switch
$bg-device-blue: $bg-blue;
$bg-device-yellow: $bg-yellow;
$bg-device-orange: $bg-orange;
$bg-device-violet: #7247ee;
// none
$bg-shadow-device: rgba(113, 71, 238, 0.671);
$bg-switch: #7247ee;
